<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmybatis4:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmybatis4_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmybatis4/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmybatis4" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:4.0.1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: taglibs:standard:1.1.2" />
          <element id="library" level="project" name="Spring-5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
        </element>
      </element>
    </root>
  </artifact>
</component>