<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.tare.cloudnote.dao.UserDAO">
	<select id="findAll" resultMap="userMap">
		select * from cn_user
	</select>
	<select id="findByName" parameterType="String" resultMap="userMap">
		select * from cn_user where cn_user_name = #{name}
	</select>
	<insert id="save" parameterType="com.tare.cloudnote.entity.User" >	<!-- 若返回的基本类型，则可省略resultType="java.lang.int"，此处int设置有误，因此先省略。 -->
		insert into cn_user values(#{cn_user_id}, #{cn_user_name}, #{cn_user_password}, #{cn_user_token}, #{cn_user_desc} )
	</insert>
	
	<resultMap id="userMap" type="com.tare.cloudnote.entity.User">
		<result property="cn_user_id" column="cn_user_id"/>
		<result property="cn_user_name" column="cn_user_name"/>
		<result property="cn_user_password" column="cn_user_password"/>
		<result property="cn_user_token" column="cn_user_token"/>
		<result property="cn_user_desc" column="cn_user_desc"/>
	</resultMap>
</mapper>