<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="mycost">
<!-- 用别名或resltMap都可以解决
字段名和属性名不一致问题 -->
<select id="findMyCost1" 
	resultType="org.tarena.entity.MyCost">
select cost_id id,
       name,
       base_duration duration,
	   unit_cost unitcost
from COST
</select>

<select id="findMyCost" resultMap="MyCostMap">
select * from COST
</select>

<resultMap id="MyCostMap" 
	type="org.tarena.entity.MyCost">
	<id property="id" column="cost_id"></id>
	<result property="name" column="name"></result>
	<result property="duration" column="base_duration"></result>
	<result property="basecost" column="base_cost"></result>
	<result property="unitcost" column="unit_cost"></result>
	<result property="status" column="status"></result>
	<result property="descr" column="descr"></result>
	<result property="creatime" column="creatime"></result>
	<result property="startime" column="startime"></result>
	<result property="costtype" column="cost_type"></result>
</resultMap>

</mapper>


