<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.tare.dao.EmpMapper">
	<select id="findAll" resultType="org.tare.entity.Emp">
		select * from emp order by empno
	</select>
</mapper>