<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <filter>
  	<filter-name>strutsfilter</filter-name>
  	<filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  	<!-- 默认加载src/struts.xml -->
  </filter>
  <filter-mapping>
  	<filter-name>strutsfilter</filter-name>
  	<!-- struts默认识别2种请求：1.*.action2./hello.action,/hello..不能写成*.do。 -->
  	<url-pattern>*.action</url-pattern>
  </filter-mapping>
</web-app>
