<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.tarena.dao.EmpDao">
	<insert id="save" parameterType="org.tarena.entity.Emp"> 
		<selectKey order="BEFORE" resultType="int" keyProperty="empno">
			select emp_seq.nextval from dual
		</selectKey>	<!-- 使用序列生成主键的用法。注:keyProperty中的值必须和表中字段名相同，若不同则会出异常。 -->
		insert into emp(empno,ename)values(#{empno},#{ename})
	</insert>
	<!-- 查找所有的记录 -->
	<select id="findAll" resultMap="empMap">
		select EMPNO, ENAME, JOB, SAL, COMM, MGR, DEPTNO, HIREDATE from emp
	</select>
	<!-- 定义结果集映射 -->
	<resultMap id="empMap" type="org.tarena.entity.Emp" >
		<result property="empno" column="EMPNO"/>
		<result property="ename" column="ENAME"/>
		<result property="job" column="JOB"/>
		<result property="sal" column="SAL"/>
		<result property="comm" column="COMM"/>
		<result property="mgr" column="MGR"/>
		<result property="deptno" column="DEPTNO"/>
		<result property="hiredate" column="HIREDATE"/>
	</resultMap>
</mapper>