p{
	color:#111;	
}
p strong{
	color:green;
}
p > strong{
	color:yellow;
}
	元素选择器是最常见的 CSS 选择器，即，文档的元素就是最基本的选择器。选择器通常是某个HTML元素，比如等，甚至可以是元素本身。
	类选择器用于将样式规则与附带class属性的元素匹配，其中该class属性的值为类选择器中指定的值。使用类选择器时，首先需要定义样式类，
	其语法为：.className { }所有能够附带class属性的元素都可以使用此样式声明。只需要将class属性的值设置为“className”，
	则可以将类选择器的样式与元素关联。在实际使用时，如果需要为某种元素定义样式，则往往使用元素选择器；如果要应用样式而不考虑具体设计的
	元素，最常用的方法就是使用类选择器。 