<component name="ArtifactManager">
  <artifact type="exploded-war" name="springmybatis6:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springmybatis6_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springmybatis6/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springmybatis6" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:4.0.1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: taglibs:standard:1.1.2" />
          <element id="library" level="project" name="Maven: mysql:mysql-connector-java:8.0.11" />
          <element id="library" level="project" name="Maven: com.google.protobuf:protobuf-java:2.6.0" />
          <element id="library" level="project" name="Maven: commons-pool:commons-pool:1.6" />
          <element id="library" level="project" name="Maven: commons-dbcp:commons-dbcp:1.4" />
          <element id="library" level="project" name="Maven: junit:junit:4.12" />
          <element id="library" level="project" name="Maven: org.hamcrest:hamcrest-core:1.3" />
          <element id="library" level="project" name="Maven: org.springframework:spring-test:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.2.3.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.2.3.RELEASE" />
          <element id="library" level="project" name="Spring MVC-5.2.3.RELEASE" />
          <element id="library" level="project" name="aopalliance-1.0" />
        </element>
      </element>
    </root>
  </artifact>
</component>