<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.tarena.note.dao.EmpDao">
	
<insert id="save" 
	useGeneratedKeys="true" keyProperty="eno"
	parameterType="org.tarena.note.entity.Emp">
insert into t_emp(ename) values (#{ename})
</insert>
	
</mapper>