<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>action</servlet-name>
  	<servlet-class>
  		web.ActionServlet
  	</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>action</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <!-- 让Tomcat统一处理异常 -->
  <!-- 按照类型指定异常对应的错误页面 -->
  <error-page>
  	<exception-type>
  		java.lang.Exception
  	</exception-type>
  	<location>
  		/WEB-INF/error.jsp
  	</location>
  </error-page>
  <!-- 按照异常编号指定对应的错误页面 -->
  <error-page>
  	<error-code>404</error-code>
  	<location>
  		/WEB-INF/error.jsp
  	</location>
  </error-page>
  <error-page>
  	<error-code>500</error-code>
  	<location>
  		/WEB-INF/error.jsp
  	</location>
  </error-page>
  
</web-app>




