<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="org.tarena.dao.CostDao">

<select id="findAll" resultType="org.tarena.entity.Cost">
	select * from COST
</select>
	
	
</mapper>
 
 
 
 
 
 
