<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <!-- 查询员工信息请求 -->
  <servlet>
  	<servlet-name>FindEmp</servlet-name>
  	<servlet-class>web.FindEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FindEmp</servlet-name>
  	<url-pattern>/findemp</url-pattern>
  </servlet-mapping>
  <!-- 插入员工信息 -->
  <servlet>
  	<servlet-name>AddEmp</servlet-name>
  	<servlet-class>web.AddEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>AddEmp</servlet-name>
  	<url-pattern>/add_emp</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>DelEmp</servlet-name>
  	<servlet-class>web.DelEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DelEmp</servlet-name>
  	<url-pattern>/delemp</url-pattern>
  
  </servlet-mapping>
  
  
</web-app>
