<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"  
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa-1.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
	
	<bean id="computer1" class="ioc2.Computer">
		<property name="mainboard" value="华硕"/>
		<property name="hdd" value="希捷"/>
	</bean>
	<bean id="mb1" class="ioc2.MessageBean">
		<property name="name" value="芈月"/><!-- 用属性property的value赋值给name -->
		<property name="age" value="22"/>
		<property name="computer" ref="computer1"/> <!-- 前面的computer是属性，后面的是 -->
		<property name="langs" >	<!-- List集合注入的语法 -->
			<list>
				<value>java</value>
				<value>php</value>
				<value>c++</value>
				<value>c++</value>	<!-- 添加的列表中的元素可以重复。因为是List -->
				<value>python</value>
			</list>
		</property>
		<property name="cities">		<!-- Set集合注入语法 -->
			<set>
				<value>北京</value>
				<value>西安</value>
				<value>上海</value>
				<value>广州</value>
			</set>
		</property>
		<property name="score">		<!-- Map注入语法 -->
			<map>
				<entry key="english" value="98" />	<!-- 什么时候用value？ -->
				<entry key="math" value="99"/>		<!-- entry进入 -->
			</map>
		</property>
		<property name="dbinfo">
			<props>
				<prop key="username">Tom</prop>
				<prop key="password">tiger</prop>
			</props>
		</property>
	</bean>
	
	<!-- 将集合配置成一个bean -->
	<util:list id="langsBean">
		<value>java</value>
		<value>php</value>
		<value>python</value>	
	</util:list>
	
	<util:set id="citiesBean">	<!--1. 将集合配置为一个bean。 -->
		<value>长沙</value>
		<value>岳阳</value>
		<value>华容</value>
	</util:set>
	<util:map id="scoreBean"><!--  -->
		<entry key="english" value="80"/>
		<entry key="math" value="100"/>
	</util:map>
	<util:properties id="dbinfoBean">
		<prop key="username">Tom</prop>
		<prop key="password">tiger</prop>
	</util:properties>
	
	<bean id="mb2" class="ioc2.MessageBean">
		<property name="langs" ref="langsBean"/>
		<property name="cities" ref="citiesBean"/>	<!-- 2.用引用方式注入bean -->
		<property name="score" ref="scoreBean"/>
		<property name="dbinfo" ref="dbinfoBean"/>
	</bean>
	
	<!-- 注入spring表达式 -->
	<util:properties id="db" location="classpath:ioc2/db.properties"/>		<!-- 注意写法 -->
	<bean id="someBean1" class="ioc2.SomeBean">
		<property name="name" value="#{mb1.name}"/>  <!-- 访问bean的spring表达式 -->
		<property name="city" value="#{mb1.cities[0]}"/>	<!-- 表示把bean的list的集合中的第一个元素的内容取出来作为此处value的属性 -->
		<property name="score" value="#{mb1.score.english}"/>
		<property name="username" value="#{db.username}" />	
	</bean>
	
</beans>
