<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="org.tarena.note.dao.NoteDao">

<select id="findById" parameterType="string"
	resultType="org.tarena.note.entity.Note">
select * from cn_note
where cn_note_id=#{id}
</select>

<select id="findByBookId" parameterType="string"
	resultType="org.tarena.note.entity.Note">
select * from cn_note
where cn_notebook_id=#{bookId}
</select>

</mapper>