<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
<!-- 测试线程安全 -->
<servlet>
	<servlet-name>threadSafeServlet</servlet-name>
	<servlet-class>web.ThreadSafeServlet</servlet-class>
</servlet>  
<servlet-mapping>
	<servlet-name>threadSafeServlet</servlet-name>
	<url-pattern>/thread</url-pattern>
</servlet-mapping>
  
  <!-- 上下文全局变量中增加一个键值对 -->
  <context-param>
  	<param-name>count</param-name>
  	<param-value>1000</param-value>
  </context-param>
  <servlet>
  	<servlet-name>contextServlet</servlet-name>
  	<servlet-class>web.ContextServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>contextServlet</servlet-name>
  	<url-pattern>/count</url-pattern>
  </servlet-mapping>
    <servlet>
  	<servlet-name>contextServlet01</servlet-name>
  	<servlet-class>web.ContextServlet01</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>contextServlet01</servlet-name>
  	<url-pattern>/count01</url-pattern>
  </servlet-mapping>
  
  <!-- 删除信息 -->
  <servlet>
  	<servlet-name>deleteServlet</servlet-name>
  	<servlet-class>web.DeleteEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>deleteServlet</servlet-name>
  	<url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <!-- 修改信息 -->
  <servlet>
  	<servlet-name>loadServlet</servlet-name>
  	<servlet-class>web.LoadEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loadServlet</servlet-name>
  	<url-pattern>/load</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>modifyServlet</servlet-name>
  	<servlet-class>web.ModifyEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>modifyServlet</servlet-name>
  	<url-pattern>/modify</url-pattern>
  </servlet-mapping>
  <!-- 查询信息 -->
  <servlet>
  	<servlet-name>listServlet</servlet-name>
  	<servlet-class>web.ListEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>listServlet</servlet-name>
  	<url-pattern>/list</url-pattern>
  </servlet-mapping>
  <!-- 增加信息 -->
  <servlet>
  	<servlet-name>addServlet</servlet-name>
  	<servlet-class>web.AddEmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>addServlet</servlet-name>
  	<url-pattern>/add</url-pattern>
  </servlet-mapping>
</web-app>
